# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [3]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [4]:
# merge datasets
df = pd.merge(messages, categories, on='id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [5]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(";", expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [6]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = [item[:-2] for item in row]
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [7]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [8]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].apply(lambda x: x[-1])
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [9]:
# drop the original categories column from `df`
df.drop('categories', axis=1, inplace=True)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [10]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [11]:
# check number of duplicates
df.duplicated().sum()

170

In [12]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [13]:
# check number of duplicates
df.duplicated().sum()

0

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [14]:
engine = create_engine('sqlite:///categorized_messages.db')
df.to_sql('categorized_messages', engine, index=False, if_exists='replace')

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.

### Further investigation and refinement

In [143]:
df[['related', 'request', 'offer']].drop_duplicates()

     related  request  offer
0          1        0      0
3          1        1      0
5          0        0      0
75         1        0      1
117        2        0      0

In [15]:
df.columns

Index(['id', 'message', 'original', 'genre', 'related', 'request', 'offer',
       'aid_related', 'medical_help', 'medical_products', 'search_and_rescue',
       'security', 'military', 'child_alone', 'water', 'food', 'shelter',
       'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid',
       'infrastructure_related', 'transport', 'buildings', 'electricity',
       'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure',
       'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold',
       'other_weather', 'direct_report'],
      dtype='object')

As later only a categories are inferred from messages (in english), 'id', 'original' and 'genre' can be dropped.

In [16]:
pd.concat([df[category_colnames].max(), df[category_colnames].min()], axis=1)

                        0  1
related                 2  0
request                 1  0
offer                   1  0
aid_related             1  0
medical_help            1  0
medical_products        1  0
search_and_rescue       1  0
security                1  0
military                1  0
child_alone             0  0
water                   1  0
food                    1  0
shelter                 1  0
clothing                1  0
money                   1  0
missing_people          1  0
refugees                1  0
death                   1  0
other_aid               1  0
infrastructure_related  1  0
transport               1  0
buildings               1  0
electricity             1  0
tools                   1  0
hospitals               1  0
shops                   1  0
aid_centers             1  0
other_infrastructure    1  0
weather_related         1  0
floods                  1  0
storm                   1  0
fire                    1  0
earthquake              1  0
cold                    1  0
other_weather           1  0
direct_report           1  0

'child_alone' doesn't have varying entries (only 0).  
***-> Category columns with no varying entries can be dropped.***

In [17]:
df.related.value_counts()

1    19906
0     6122
2      188
Name: related, dtype: int64

'related' only category having three values 0, 1, 2, with 2 only occurring 188 times.

In [18]:
pd.concat([df[(df.related == 0) | (df.related == 2)][category_colnames].min(), 
           df[(df.related == 0) | (df.related == 2)][category_colnames].max()], 
          axis=1)

                        0  1
related                 0  2
request                 0  0
offer                   0  0
aid_related             0  0
medical_help            0  0
medical_products        0  0
search_and_rescue       0  0
security                0  0
military                0  0
child_alone             0  0
water                   0  0
food                    0  0
shelter                 0  0
clothing                0  0
money                   0  0
missing_people          0  0
refugees                0  0
death                   0  0
other_aid               0  0
infrastructure_related  0  0
transport               0  0
buildings               0  0
electricity             0  0
tools                   0  0
hospitals               0  0
shops                   0  0
aid_centers             0  0
other_infrastructure    0  0
weather_related         0  0
floods                  0  0
storm                   0  0
fire                    0  0
earthquake              0  0
cold                    0  0
other_weather           0  0
direct_report           0  0

'related' with 2 seems to behave like 'related' with 0 having all other categories 0. So, this is probably and error. However, as we can't decide on future behaviour:  
***-> Only accept 0 or 1 as entries in categories***

In [19]:
df[df.isna().any(axis=1)].shape

(16046, 40)

In [20]:
df[df[['message'] + category_colnames].isna().any(axis=1)].shape

(0, 40)

There are missing entries, however they don't appear in the relevant columns.  
***-> Drop rows with missing values in relevant columns.***

In [48]:
df[category_colnames[1:]].sum(axis=1).value_counts()

0     11431
2      3609
4      2956
3      2276
5      1903
6      1347
7       880
8       577
1       443
9       344
10      183
11      107
12       57
13       38
14       20
16       12
15        8
17        7
18        5
19        4
20        4
26        2
21        2
23        1
dtype: int64

In [22]:
for category in category_colnames:
    try:
        min_other_cats_if_1 = df[category_colnames].groupby(category).min().T[1]
        print("{:<20}".format(category),
              'being 1 is always related to', 
              min_other_cats_if_1[min_other_cats_if_1 == 1].index.values, 
              'being 1')
    except:
        print(category, "doesn't have 1s.")

related              being 1 is always related to [] being 1
request              being 1 is always related to ['related'] being 1
offer                being 1 is always related to ['related'] being 1
aid_related          being 1 is always related to ['related'] being 1
medical_help         being 1 is always related to ['related' 'aid_related'] being 1
medical_products     being 1 is always related to ['related' 'aid_related'] being 1
search_and_rescue    being 1 is always related to ['related' 'aid_related'] being 1
security             being 1 is always related to ['related' 'aid_related'] being 1
military             being 1 is always related to ['related' 'aid_related'] being 1
child_alone doesn't have 1s.
water                being 1 is always related to ['related' 'aid_related'] being 1
food                 being 1 is always related to ['related' 'aid_related'] being 1
shelter              being 1 is always related to ['related' 'aid_related'] being 1
clothing             being 1 is always related to ['related' 'aid_related'] being 1
money                being 1 is always related to ['related' 'aid_related'] being 1
missing_people       being 1 is always related to ['related' 'aid_related'] being 1
refugees             being 1 is always related to ['related' 'aid_related'] being 1
death                being 1 is always related to ['related' 'aid_related'] being 1
other_aid            being 1 is always related to ['related' 'aid_related'] being 1
infrastructure_related being 1 is always related to ['related'] being 1
transport            being 1 is always related to ['related'] being 1
buildings            being 1 is always related to ['related'] being 1
electricity          being 1 is always related to ['related'] being 1
tools                being 1 is always related to ['related'] being 1
hospitals            being 1 is always related to ['related' 'infrastructure_related'] being 1
shops                being 1 is always related to ['related' 'infrastructure_related'] being 1
aid_centers          being 1 is always related to ['related' 'infrastructure_related'] being 1
other_infrastructure being 1 is always related to ['related' 'infrastructure_related'] being 1
weather_related      being 1 is always related to ['related'] being 1
floods               being 1 is always related to ['related' 'weather_related'] being 1
storm                being 1 is always related to ['related' 'weather_related'] being 1
fire                 being 1 is always related to ['related' 'weather_related'] being 1
earthquake           being 1 is always related to ['related' 'weather_related'] being 1
cold                 being 1 is always related to ['related' 'weather_related'] being 1
other_weather        being 1 is always related to ['related' 'weather_related'] being 1
direct_report        being 1 is always related to ['related'] being 1

In [23]:
df[df.related == 1][
    category_colnames[1:]
].max(axis=1).min()

0

In [24]:
df[(df.related == 1) & (df[category_colnames[1:]].max(axis=1) == 0)][category_colnames[1:]].shape

(5121, 35)

In [46]:
aid_related_categories = [
    'medical_help', 
    'medical_products', 
    'search_and_rescue', 
    'security',
    'military',
    'water',
    'food',
    'shelter',
    'clothing',
    'money',
    'missing_people',
    'refugees',
    'death',
    'other_aid'
]

df[df.aid_related == 1][aid_related_categories].max(axis=1).min()

1

In [45]:
infrastructure_related_categories = [
    'hospitals', 
    'shops', 
    'aid_centers', 
    'other_infrastructure'
]

df[df.infrastructure_related == 1][infrastructure_related_categories].max(axis=1).min()

1

In [44]:
weather_related_categories = [
    'floods', 
    'storm', 
    'fire', 
    'earthquake', 
    'cold', 
    'other_weather'
]

df[df.weather_related == 1][weather_related_categories].max(axis=1).min()

1

Although every category column being 1 implied 'related' being 1, it's not the other way around. To the contrary, there are more than 5,000 rows only having 'related' being 1.
On the other hand, 'weather_related', 'infrastructure_related' and 'aid_related' seem to be kind of 'top' categories in a sense that one of their 'subcategories' being 1 implies the top-category being one (and other way around).

In [47]:
df[df.infrastructure_related == 1][category_colnames].max(axis=1)

3        1
10       1
40       1
43       1
56       1
        ..
26291    1
26304    1
26313    1
26348    1
26375    1
Length: 1705, dtype: int64

In [50]:
1 - df.groupby('infrastructure_related').mean()[[category for category in category_colnames if category != 'infrastructure_related']].T[0]

related                 0.242095
request                 0.831504
offer                   0.995267
aid_related             0.611481
medical_help            0.928318
medical_products        0.955530
search_and_rescue       0.976500
security                0.984334
military                0.969769
child_alone             1.000000
water                   0.941332
food                    0.891844
shelter                 0.922810
clothing                0.985517
money                   0.979438
missing_people          0.989800
refugees                0.972339
death                   0.958794
other_aid               0.880870
transport               0.961079
buildings               0.963486
electricity             0.983477
tools                   0.995186
hospitals               1.000000
shops                   1.000000
aid_centers             1.000000
other_infrastructure    1.000000
weather_related         0.749255
floods                  0.930276
storm                   0.915956
fire                    0.991310
earthquake              0.913549
cold                    0.982661
other_weather           0.956795
direct_report           0.809677
Name: 0, dtype: float64

In [52]:
df.groupby('transport').mean()[[category for category in category_colnames if category != 'transport']].T[1]

related                   1.000000
request                   0.214821
offer                     0.003331
aid_related               0.763530
medical_help              0.368859
medical_products          0.171524
search_and_rescue         0.162365
security                  0.107410
military                  0.049126
child_alone               0.000000
water                     0.089925
food                      0.132390
shelter                   0.122398
clothing                  0.027477
money                     0.041632
missing_people            0.109908
refugees                  0.149875
death                     0.174022
other_aid                 0.313072
infrastructure_related    0.205662
buildings                 0.176520
electricity               0.097419
tools                     0.019983
hospitals                 0.025812
shops                     0.018318
aid_centers               0.033306
other_infrastructure      0.169026
weather_related           0.803497
floods                    0.580350
storm                     0.218152
fire                      0.029142
earthquake                0.139051
cold                      0.065779
other_weather             0.113239
direct_report             0.264779
Name: 1, dtype: float64

In [41]:
df[category_colnames].mean().T

related                   0.773650
request                   0.170659
offer                     0.004501
aid_related               0.414251
medical_help              0.079493
medical_products          0.050084
search_and_rescue         0.027617
security                  0.017966
military                  0.032804
child_alone               0.000000
water                     0.063778
food                      0.111497
shelter                   0.088267
clothing                  0.015449
money                     0.023039
missing_people            0.011367
refugees                  0.033377
death                     0.045545
other_aid                 0.131446
infrastructure_related    0.065037
transport                 0.045812
buildings                 0.050847
electricity               0.020293
tools                     0.006065
hospitals                 0.010795
shops                     0.004577
aid_centers               0.011787
other_infrastructure      0.043904
weather_related           0.278341
floods                    0.082202
storm                     0.093187
fire                      0.010757
earthquake                0.093645
cold                      0.020217
other_weather             0.052487
direct_report             0.193584
dtype: float64

In [53]:
df.columns

Index(['id', 'message', 'original', 'genre', 'related', 'request', 'offer',
       'aid_related', 'medical_help', 'medical_products', 'search_and_rescue',
       'security', 'military', 'child_alone', 'water', 'food', 'shelter',
       'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid',
       'infrastructure_related', 'transport', 'buildings', 'electricity',
       'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure',
       'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold',
       'other_weather', 'direct_report'],
      dtype='object')

In [67]:
aid_columns = [
    'medical_help', 
    'medical_products', 
    'search_and_rescue',
    'security',
    'military', 
    'child_alone', 
    'water', 
    'food', 
    'shelter',
    'clothing', 
    'money', 
    'missing_people', 
    'refugees', 
    'death', 
    'other_aid'
]

In [68]:
df[df.aid_related == 1][aid_columns].sum(axis=1).value_counts()

1     6022
2     2869
3     1141
4      455
5      199
6       98
7       38
8       22
9       10
10       3
12       2
11       1
dtype: int64

In [114]:
df[df.aid_related == 0][aid_columns].sum(axis=1).value_counts()

0    15356
dtype: int64

In [70]:
infrastructure_columns = [
    'transport', 
    'buildings', 
    'electricity',
    'tools', 
    'hospitals', 
    'shops', 
    'aid_centers', 
    'other_infrastructure'
]

In [83]:
df[df.infrastructure_related == 1][infrastructure_columns].sum(axis=1).value_counts()

1    986
2    515
3    144
4     43
5     10
7      4
6      3
dtype: int64

In [84]:
df[df.infrastructure_related == 0][infrastructure_columns].sum(axis=1).value_counts()

0    22364
1     1945
2      180
3       21
4        1
dtype: int64

In [112]:
infrastructure_unrelated = df[df.infrastructure_related == 0]
infrastructure_unrelated[infrastructure_unrelated[infrastructure_columns].sum(axis=1) != 0][aid_columns + infrastructure_columns + weather_columns].sum()

medical_help            478
medical_products        241
search_and_rescue       266
security                164
military                 79
child_alone               0
water                   184
food                    253
shelter                 428
clothing                 52
money                    63
missing_people          139
refugees                202
death                   291
other_aid               572
transport               954
buildings               895
electricity             405
tools                   118
hospitals                 0
shops                     0
aid_centers               0
other_infrastructure      0
floods                  752
storm                   455
fire                     81
earthquake              348
cold                    143
other_weather           221
dtype: int64

In [90]:
weather_columns = [
    'floods', 
    'storm', 
    'fire', 
    'earthquake', 
    'cold',
    'other_weather'
]

In [74]:
df[df.weather_related == 1][weather_columns].sum(axis=1).value_counts()

1    5731
2    1298
3     195
4      48
5      13
6      12
dtype: int64

In [75]:
df[df.weather_related == 0][weather_columns].sum(axis=1).value_counts()

0    18919
dtype: int64

In [141]:
(pd.concat([
    (df[df[cat_col] == 1][category_colnames[3:]].sum() / df[df[cat_col] == 1].shape[0]) 
    for cat_col in category_colnames[3:]], 
    axis=1)
 .rename(columns={key: value for (key, value) in enumerate(category_colnames[3:])})
      .round(2)).T[infrastructure_columns]

,transport,buildings,electricity,tools,hospitals,shops,aid_centers,other_infrastructure
aid_related,0.08,0.09,0.03,0.01,0.02,0.01,0.03,0.08
medical_help,0.21,0.08,0.03,0.02,0.07,0.01,0.03,0.07
medical_products,0.16,0.08,0.05,0.03,0.06,0.02,0.05,0.08
search_and_rescue,0.27,0.17,0.07,0.05,0.06,0.01,0.04,0.12
security,0.27,0.12,0.06,0.04,0.04,0.03,0.04,0.09
military,0.07,0.06,0.03,0.02,0.03,0.01,0.03,0.08
child_alone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
water,0.06,0.08,0.05,0.02,0.03,0.02,0.04,0.09
food,0.05,0.06,0.02,0.01,0.01,0.01,0.02,0.06
shelter,0.06,0.20,0.03,0.02,0.02,0.02,0.07,0.11
clothing,0.08,0.08,0.04,0.02,0.05,0.01,0.04,0.05
money,0.08,0.10,0.04,0.02,0.03,0.02,0.04,0.11
missing_people,0.44,0.12,0.05,0.03,0.03,0.02,0.04,0.10
refugees,0.21,0.16,0.03,0.02,0.02,0.02,0.08,0.13
death,0.18,0.17,0.03,0.01,0.02,0.02,0.03,0.11
other_aid,0.11,0.10,0.05,0.02,0.02,0.01,0.03,0.12
infrastructure_related,0.14,0.26,0.07,0.02,0.17,0.07,0.18,0.68
transport,1.00,0.18,0.10,0.02,0.03,0.02,0.03,0.17
buildings,0.16,1.00,0.08,0.01,0.04,0.03,0.05,0.26
electricity,0.22,0.19,1.00,0.03,0.03,0.02,0.04,0.20
tools,0.15,0.12,0.09,1.00,0.06,0.03,0.04,0.18
hospitals,0.11,0.18,0.06,0.04,1.00,0.03,0.15,0.13
shops,0.18,0.34,0.09,0.04,0.08,1.00,0.06,0.19
aid_centers,0.13,0.21,0.07,0.02,0.14,0.02,1.00,0.20
other_infrastructure,0.18,0.31,0.09,0.02,0.03,0.02,0.05,1.00
weather_related,0.13,0.13,0.05,0.02,0.02,0.01,0.02,0.11
floods,0.32,0.17,0.05,0.01,0.02,0.01,0.03,0.17
storm,0.11,0.13,0.08,0.01,0.01,0.01,0.02,0.12
fire,0.12,0.20,0.14,0.05,0.05,0.03,0.07,0.15
earthquake,0.07,0.13,0.03,0.02,0.03,0.02,0.03,0.09
cold,0.15,0.13,0.10,0.06,0.05,0.03,0.04,0.09
other_weather,0.10,0.14,0.06,0.02,0.03,0.01,0.03,0.19
direct_report,0.06,0.08,0.03,0.01,0.02,0.01,0.02,0.05